<div class="js-experiments container">
  <h2>Javascript Experiments</h2>
  <div role="tabpanel">
    <ul class="nav nav-tabs">
      <li role='presentation' class="active"><a href='#dragon' data-toggle="tab">Dragon Curve</a></li>
      <li role='presentation'><a href='#chaos' data-toggle="tab">Sierpinski Chaos Game</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="dragon">
        <%= partial "dragon" %>
      </div>
      <div class="tab-pane" id="chaos">
        <%= partial "chaos" %>
      </div>
    </div>
  </div>
</div>
