.header {
    width: 100%;
    background-color: #EF8354;
    padding: 0px 0px 0px 0px;
    height: 80px;
    top: 0px;
    position: absolute;
}

.header .name {
    width: 50%;
    float: left;
    color: #2D3142;
    border-color: #2D3142;
}

.header .name:hover {
    width: 50%;
    float: left;
    color: #FFFFFF;
    transition-duration: 0.25s;
    border-color: #FFFFFF;
}

.header h1 {
    font-family: 'Merriweather', serif;
    text-align: center;
    
    margin-top: 5px;
    margin-bottom: 0px;
    border-width: 0px 0px 2px 0px;
    border-style: solid;
}

.header h3 {
    font-family: 'Merriweather', serif;
    text-align: center;
    margin-top: 5px;
}

.header .contact {
    font-family: 'Merriweather', serif;
    width: 50%;
    float: left;
    margin-top: 12px;
    text-align: center;
}

.header .contact a {
    color: #2D3142;
    font-size: 18px;
    text-decoration: none;
}

.contact-item {
    margin-top: 5px;
}

.header .contact a:hover {
    color: #FFFFFF;
    transition-duration: 0.25s;
}

.header .contact a:after {
    display: block;
    content: "\A";
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #2D3142;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.content {
    margin-top: 100px;
}

.education {
    display: flex;
    align-items: center;
}

.education-info {
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
}

.education-school {
    margin-bottom: 5px;
    font-weight: bold;
}

.section .item {
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #BFC0C0;
    border-radius: 5px;
}

.section a {
    text-decoration: none;
    color: #000000;
}

.section .item h3 {
    margin-top: 2px;
    margin-bottom: 5px;
    margin-left: 15px;
}

.section h2 {
    color: #EF8354;
    font-family: 'Merriweather', serif;
    letter-spacing: 1px;
    border-bottom-color: #EF8354;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    margin-bottom: 5px;
}

.project {
    display: flex;
}

.project:hover {
    transition-duration: 0.25s;
    background-color: #EF8354;
}

.project-content {
    margin-left: 10px;
}

.project-name {
    font-family: 'Black Han Sans', sans-serif;
    font-size: 24px;
    margin: 5px;
}

.project-tech {
    display: flex;
}

.project-tech-item {
    font-family: 'Roboto', sans-serif;
    background-color: #4F5D75;
    color: #FFFFFF;
    padding: 8px;
    margin-right: 2px;
    font-size: 14px;
}

.project-description {
    font-family: 'Roboto', sans-serif;
    display: block;
    margin-top: 10px;
}

.project-features li {
    font-family: 'Roboto', sans-serif;
}

.project-images {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-left: -5px;
    width: 960px;
}

.project-images a {
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

.project-image {
    text-align: center;
    position: relative;
    margin: 0px;
}

.project-image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.project-image:hover img {
    transition-duration: 0.25s;
    opacity: 0.2;
}

.project-image:hover .project-image-text {
    display: block;
}

.project-videos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-left: -5px;
    width: 960px;
}

.project-video {
    text-align: center;
    position: relative;
    margin: 0px;
}

.project-video:hover img {
    transition-duration: 0.25s;
    opacity: 0.2;
}

.project-video:hover .project-video-icon img {
    transition-duration: 0.25s;
    opacity: 1.0;
}

.project-video-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 128px;
    
}
