<div class="container section">
  <h2>Education</h2>
  <div class="item">
    <% data.education.listings.each do |ed| %>
      <h3><%= ed.school %></h3>
      <h3><%= ed.degree %></h3>
    <% end %>
  </div>
</div>
