<div class="education container">
  <h2><span class="octicon octicon-mortar-board"></span>Education</h2>
  <% data.education.listings.each do |ed| %>
    <ul>
      <li><strong><%= ed.school %></strong></li>
      <li><%= ed.degree %></li>
    </ul>
  <% end %>
</div>
