<div class="header">
  <div class="container">
    <a href="/">
      <div class="name">
        <h1>Sean Humeniuk</h1>
        <h3>Software Developer</h3>
      </div>
    </a>

    <div class="contact">
      <% unless data.contact.email.nil? %>
        <div class="contact-item">
          <a class="mailto" href="mailto:<%= data.contact.email %>">
            <%= data.contact.email %>
          </a>
        </div>
      <% end %>
      <% unless data.contact.github.nil? %>
        <div class="contact-item">
          <a class="github" href="http://github.com/<%= data.contact.github %>">
            GitHub: <%= data.contact.github %>
          </a>
        </div>
      <% end %>
    </div>
  </div>
</div>
