<h1>Sean Humeniuk</h1>
<a class="mailto" href="mailto:seanhumeniuk@gmail.com">
  <span class="octicon octicon-mail">seanhumeniuk@gmail.com</span>
</a>
<a class="github" href="http://github.com/sean-h">
  <span class="octicon octicon-mark-github">sean-h</span>
</a>
